<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>AdresseHEI</title>
    <link href="css/liste.css" rel="stylesheet">
    <link href="css/theme.css" rel="stylesheet">
    <meta charset="UTF-8-general-ci">
</head>
<body>
<header th:replace="~{fragments::menu('liste')}"></header>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h3 class="title">Restaurants</h3>
            <table class="table table-hover">
                <thead>
                <tr class="sans_border">
                    <th class="name">Nom</th>
                    <th class="style">Style</th>
                    <th class="adress">Adresse</th>
                    <th class="infos">Description</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="establishment : ${restaurantList}">
                    <td class="name" th:text="${establishment.name}">Au Vieux de la Vieille</td>
                    <td class="style" th:text="${establishment.specialty}">Spécialités du Nord</td>
                    <td class="adress" th:text="${establishment.address}">2 rue des Vieux Murs<br/>59000 Lille</td>
                    <td class="infos" th:text="${establishment.moreInfo}">Spécialités du Nord</td>
                    <td class="link">
                        <a th:href="${'detail?id='+establishment.id}"
                           th:title="${'Details for '+establishment.name}">En savoir plus</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>

<footer th:replace="~{fragments::footer('accueil')}"></footer>

</html>